mixin list(items, className, active)
    div(class="#{className}")
        ul(class="#{className}_list")
            each item, key in items
                if key == active
                    li(class="#{className}_item")
                        a(href="#" class="#{className}_link #{className}_link-active")= item
                else
                    li(class="#{className}_item")
                        a(href="#" class="#{className}_link")= item

mixin social(items, className)
    div(class="#{className}")
        ul(class="#{className}_list")
            each item in items
                    li(class="#{className}_item #{className}_item_#{item}")
                        a(href="#" class="#{className}_link_#{item}")

mixin select(items, className, active)
    select(class="#{className}")
        each item, key in items
            if key == active
                option(class="#{className}" autofocus)= item
            else
                option(class="#{className}")= item
                
                
mixin product_item()
    li.content-index_content-item
                .content-index_content-item_photo-code
                    .content-index_content-item_photo
                        .content-index_content-item_photo_big
                            img.content-index_content-item_photo_img1(src="img/products/samsung1b.png", alt="s3")
                            img.content-index_content-item_photo_img2(src="img/products/samsung2b.png", alt="s3")  
                            img.content-index_content-item_photo_img3(src="img/products/samsung3b.png", alt="s3")                
                        .content-index_content-item_photo_first.content-index_content-item_photo_small
                            img.content-index_content-item_photo_img-l1(src="img/products/samsung1l.png", alt="s3")
                        .content-index_content-item_photo_second.content-index_content-item_photo_small
                            img.content-index_content-item_photo_img-l2(src="img/products/samsung2l.png", alt="s3")
                        .content-index_content-item_photo_third.content-index_content-item_photo_small
                            img.content-index_content-item_photo_img-l3(src="img/products/samsung3l.png", alt="s3")
                    .content-index_content-item_code Артикул
                        span.content-index_content-item_code_number 189238
                .content-index_content-item_title
                    span.content-index_content-item_title_product Смартфон 
                    span.content-index_content-item_title_name Samsung GT-I9301I GALAXY S 3
                    span.content-index_content-item_title_about Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц
                    ul.charactiristic
                        li.charactiristic_item
                            span.charactiristic_item_text-left Тип SIM-карты
                            span.charactiristic_item_text-right Micro-SIM
                        li.charactiristic_item
                            span.charactiristic_item_text-left Количество SIM-карт
                            span.charactiristic_item_text-right 1
                        li.charactiristic_item
                            span.charactiristic_item_text-left Цвет
                            span.charactiristic_item_text-right Белый
                        li.charactiristic_item
                            span.charactiristic_item_text-left ОС
                            span.charactiristic_item_text-right Android
                        li.charactiristic_item
                            span.charactiristic_item_text-left Связь 3G
                            span.charactiristic_item_text-right Есть
                        li.charactiristic_item
                            span.charactiristic_item_text-left 4G (LTE)
                            span.charactiristic_item_text-right Нет
                        li.charactiristic_item
                            span.charactiristic_item_text-left GPS-модуль
                            span.charactiristic_item_text-right Есть
                    .content-index_content-item_title_rating
                        span.content-index_content-item_title_rating_star-total
                        span.content-index_content-item_title_rating_star-total
                        span.content-index_content-item_title_rating_star-total
                        span.content-index_content-item_title_rating_star-total
                        span.content-index_content-item_title_rating_star
                        span.content-index_content-item_title_rating_number 4
                .content-index_content-item_prise
                    span.content-index_content-item_prise_rating 11 290 
                    span.content-index_content-item_prise_rub &#8399;
                .content-index_content-item_availability В наличии
                button.content-index_content-item_button В корзину