mixin list(items, className, active)
    div(class="#{className}")
        ul(class="#{className}_list")
            each item, key in items
                if key == active
                    li(class="#{className}_item")
                        a(href="#" class="#{className}_link #{className}_link-active")= item
                else
                    li(class="#{className}_item")
                        a(href="#" class="#{className}_link")= item

mixin social(items, className)
    div(class="#{className}")
        ul(class="#{className}_list")
            each item in items
                    li(class="#{className}_item #{className}_item_#{item}")
                        a(href="#" class="#{className}_link_#{item}" target="_blank")

mixin select(items, className, active)
    select(class="#{className}")
        each item, key in items
            if key == active
                option(class="#{className}" autofocus)= item
            else
                option(class="#{className}")= item

mixin colors(items, className, active)
    form(class="#{className}")
        each item, key in items
            if key == active
                input(type="checkbox" id="#{item}" class="#{className}_item--active #{className}_item #{className}_#{item}")
                label(for="#{item}" class="#{className}_label--active #{className}_label #{className}_#{item}")
            else
                input(type="checkbox" id="#{item}" class="#{className}_item #{className}_#{item}")
                label(for="#{item}" class="#{className}_label #{className}_#{item}")

mixin nav-content(items, className, active)
    ul(class="#{className}")
        li(class="#{className}_left")
        each item, key in items
            if key == active
                li(class="#{className}_item--active")= item
             else
                li(class="#{className}_item")= item
         li(class="#{className}_right")
             
mixin product_item(urlBigImg, urlSmallImg1, urlSmallImg2, urlSmallImg3, numberCode, smartName, smartAbout, typeCard, numberCard, color, os, threeG, fourG, gps, price)
    li.content-index_content-item
                .content-index_content-item_photo-code
                    .content-index_content-item_photo
                        .content-index_content-item_photo_big
                            img.content-index_content-item_photo_img1(src="#{urlBigImg}", alt="img")
                        ul.content-index_content-item_photo_img                
                            li.content-index_content-item_photo_first.content-index_content-item_photo_small
                                a.content-index_content-item_photo_small_link
                                    img.content-index_content-item_photo_img-l1(src="#{urlSmallImg1}", alt="img")
                            li.content-index_content-item_photo_second.content-index_content-item_photo_small
                                a.content-index_content-item_photo_small_link
                                    img.content-index_content-item_photo_img-l2(src="#{urlSmallImg2}", alt="img")
                            li.content-index_content-item_photo_third.content-index_content-item_photo_small
                                a.content-index_content-item_photo_small_link
                                    img.content-index_content-item_photo_img-l3(src="#{urlSmallImg3}", alt="img")
                    .content-index_content-item_code Артикул
                        span.content-index_content-item_code_number #{numberCode}
                .content-index_content-item_title
                    span.content-index_content-item_title_product Смартфон 
                    span.content-index_content-item_title_name #{smartName}
                    span.content-index_content-item_title_about #{smartAbout}
                    ul.charactiristic
                        li.charactiristic_item
                            span.charactiristic_item_text-left Тип SIM-карты
                            span.charactiristic_item_text-right #{typeCard}
                        li.charactiristic_item
                            span.charactiristic_item_text-left Количество SIM-карт
                            span.charactiristic_item_text-right #{numberCard}
                        li.charactiristic_item
                            span.charactiristic_item_text-left Цвет
                            span.charactiristic_item_text-right #{color}
                        li.charactiristic_item
                            span.charactiristic_item_text-left ОС
                            span.charactiristic_item_text-right #{os}
                        li.charactiristic_item
                            span.charactiristic_item_text-left Связь 3G
                            span.charactiristic_item_text-right #{threeG}
                        li.charactiristic_item
                            span.charactiristic_item_text-left 4G (LTE)
                            span.charactiristic_item_text-right #{fourG}
                        li.charactiristic_item
                            span.charactiristic_item_text-left GPS-модуль
                            span.charactiristic_item_text-right #{gps}
                    ul.content-index_content-item_title_rating
                        li.content-index_content-item_title_rating_star-total
                        li.content-index_content-item_title_rating_star-total
                        li.content-index_content-item_title_rating_star-total
                        li.content-index_content-item_title_rating_star-total
                        li.content-index_content-item_title_rating_star
                        li.content-index_content-item_title_rating_number 4
                .content-index_content-item_prise
                    span.content-index_content-item_prise_rating #{price} 
                    span.content-index_content-item_prise_rub &#8381;
                .content-index_content-item_availability В наличии
                button.content-index_content-item_button В корзину